html,
body {
    margin: 0;
    height: 100%;
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    width: 98%;
    height: 98%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 24px;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#startBtn {
    margin-top: 12px;
    border: 0;
    border-radius: 12px;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.dashboard {
    display: none;
}

.speed-box {
    position: relative;
    width: 320px;
    aspect-ratio: 1 / 1;
    background: #111;
    border: 4px solid #555;
    border-radius: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 24px;
    overflow: hidden;
}

.speed-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background:
        conic-gradient(from 240deg,
            #6f7f8c80 0deg 144deg,
            #c8a96b90 144deg 192deg,
            #8b4a5490 192deg 240deg,
            transparent 240deg 360deg);
    -webkit-mask: radial-gradient(circle, transparent 66.5%, #000 67%);
    mask: radial-gradient(circle, transparent 66.5%, #000 67%);
    z-index: 0;
}

.needle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 160px;
    background: linear-gradient(to top,
            #00000000 0%,
            #00000000 60%,
            #ff4d4d 82%,
            #ff4d4d 95%,
            #00000000 100%);

    transform-origin: center bottom;
    transform: translateX(-50%) translateY(-100%) rotate(-120deg);
    border-radius: 999px;
}

.label-speed {
    --angle: 0deg;
    --radius: 130px;

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    z-index: 2;

    transform:
        rotate(var(--angle)) translateY(calc(var(--radius) * -1)) rotate(calc(var(--angle) * -1)) translate(-50%, -50%);
}

.label-0 {
    --angle: -120deg;
}

.label-50 {
    --angle: -60deg;
}

.label-100 {
    --angle: 0deg;
}

.label-150 {
    --angle: 60deg;
}

.label-200 {
    --angle: 120deg;
}

.speed-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 2;
    width: 100%;
}

#speed {
    font-size: 68px;
    font-weight: 700;
    margin: 0 0 12px 0;
    color: #ccc;
}

#unit {
    font-size: 14px;
    color: #ccc;
    font-weight: 700;
    margin: 0;
}

#status {
    font-size: 14px;
    color: #aaa;
    margin-top: 30px;
    margin-bottom: -70px;
    max-width: 220px;
    line-height: 1.4;
}